@import "bourbon/bourbon";
@import "neat/neat";
$main-light: rgb(255, 222, 175);
$main-dark: rgb(66, 66, 66);
$main-red: rgb(207, 90, 66);
html {
    background-color: $main-red;
    color: $main-light;
    font-family: 'Carter One', cursive;
}
body {
    @include outer-container;
}
h1 {
    font-size: 68px;
    margin-bottom: 0;
    margin-top: 15px;
    text-align: center;
}
h2 {
    margin-bottom: 15px;
    margin-top: 13px;
}
a {
    color: $main-dark;
    text-decoration: none;
    text-align: center;
    transition: all ease 0.3s;
    font-size: 25px;
    @include span-columns(2);
    @include shift(5);
}
a:hover {
    color: $main-light;
}
input[type="text"] {
    font-size: 20px;
    height: 45px;
    width: 250px;
    border: 3px solid $main-dark;
    border-radius: 3px;
    background-color: $main-light;
    margin-top: 20px;
    padding-left: 1.5%;
    font-weight: bold;
    color: rgb(66, 66, 66);
    font-family: 'Carter One', cursive;
}
#create-player {
    margin: 0;
    height: 45px;
}
h6 {
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 15px;
}
span {
    color: rgb(255, 255, 255);
    font-size: 27px;
}
button {
    font-weight: 200px;
    font-family: 'Carter One', cursive;
    margin: 0.7%;
    color: $main-light;
    cursor: pointer;
    background-color: $main-dark;
    font-size: 20px;
    height: 45px;
    width: 80px;
    text-align: center;
    border: 3px solid $main-light;
    transition: all ease 0.3s;
    border-radius: 3px;
}
button:hover {
    background-color: $main_light;
    color: rgb(66, 66, 66);
}
#grid {
    @include span-columns(4);
    padding: 0;
    margin-left: 7%;
}
#left {
    @include span-columns(6);
    text-align: center;
}
#new-player-form {
    @include span-columns(4);
    @include shift(4);
    text-align: center;
    padding: 0;
}
#energyP {
  color: $main-dark;
}
.space {
    border: 3px solid $main-light;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 3px;
}
#rider-block {
    background-color: $main-dark;
}
#play-block {
    background-color: $main-light;
}
#game-over-section {
    @include span-columns(6);
    @include shift(3);
    text-align: center;
}
