@import "bourbon/bourbon";
@import "neat/neat";
html {
    background-color: rgb(207, 90, 66);
    color: rgb(246, 224, 192);
    @include outer-container;
}
a {
    color: rgb(66, 66, 66);
}
body {
    @include span-columns(6);
    @include shift(3);
    text-align: center;
}