<!DOCTYPE html>
<html>

<head>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet" type="text/css">
    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <script src="https://craig.global.ssl.fastly.net/js/mousetrap/mousetrap.min.js?71631"></script>
    <script src="js/app.js"></script>
    <title>Highway to Hell</title>

    <script type="text/template" id="new-player-template">
        <div id="new-player-form">
            <input type="text" id="player-name" placeholder="Your Name Here" />
            <button id="create-player">Play</button>
        </div>
    </script>
    <script type="text/template" id="play-game-template">
        <div id="left">
            <h2 id="status">Driver Name: <span><%= name %></span> </h2>
            <h2>Location: <span><%= xSpot %> , <%= ySpot %></span></h2>
            <h2>The next passenger is at:  <span><%= energyX %> , <%= energyY %></span></h2>
            <h2>You have <span><%= energy %></span> fuel</h2>
            <button id="left-button">Left</button>
            <button id="right-button">Right</button>
            <button id="down-button">Down</button>
            <button id="up-button">Up</button>
            <h6 id="intructions">Use the buttons above or your keyboard keys</h6>

            <h2>You have currently collected <span><%= podNumber %></span> passengers</h2>
        </div>
        <div id="grid"></div>
    </script>

</head>

<body>
    <h1>Highway to Hell</h1>
    <a href="#/new">New Game</a>
    <div id="new-player-section"></div>
    <div id="play-game-section"></div>

</body>

</html>